* {
  margin: 0 auto;
  color: rgb(26, 26, 26);
}

header {
  margin: 0 0 48px 0;
  padding: 36px 0 14px 0;
  background-color: #eee;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 8px;
}

h1 {
  text-align: center;
  padding: 0 0 24px 0;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

footer {
  background-color: #eee;
  padding: 24px 0;
  margin: 124px 0 0 0;
  text-align: center;
}

.aboutus-container {
  width: 50%;
}

.description {
  margin: 24px 0 24px 24px;
}

.address {
  margin: 24px 0 0 0;
}
